/* 헤더 */
.result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
#result-page-title {
    font-size: 50px;
}
.current {
    color: red;
}
/* 헤더의 끝 */

/* 몸통의 시작(중간 부분) */
.result-container {
    background-color: gray;
    border: 3px solid black;
    padding: 10px;
}
/* 내부 컨테이너(점선) */
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px dashed black;
    border-radius: 20px;
    padding: 100px;
}
.result-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-info > .movie-poster {
    margin-right: 20px;
    height: 140px;
    width: 100px;
}
.inner-container > h1 {
    margin: 40px;
}
/* 버튼부분의 시작 */
.button-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
/* 푸터 - 이전 버튼 */
.prev-button {
    margin-right:20px;
    box-shadow:inset 0px 0px 0px 0px #a4e271;
    background:linear-gradient(to bottom, #CCCCCC 5%, #AAAAAA 100%);
    background-color:#CCCCCC;
    border: 3px solid black;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:28px;
    font-weight:bold;
    padding:20px 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #888888;
}
.prev-button:hover {
    background:linear-gradient(to bottom, #AAAAAA 5%, #CCCCCC 100%);
    background-color:#AAAAAA;
}
.prev-button:active {
    position:relative;
    top:1px;
}
/* 푸터 - 다음 버튼 */
.next-button {
    box-shadow:inset 0px 0px 0px 0px #a4e271;
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color:#89c403;
    border: 3px solid black;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:28px;
    font-weight:bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding:20px 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}
.next-button:hover {
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color:#77a809;
}
.next-button:active {
    position:relative;
    top:1px;
}
/* 버튼부분의 끝 */
/* 몸통의 끝(중간 부분) */
