body main {
    display: flex;
    padding: 10px 80px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.currentMovie {
    display: flex;
    width: 70%;
    margin: 20px 0 10px;
}

.currentMovie a {
    border: 2px solid black;
    padding: 5px 30px 5px;
    font-size: 200%;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: black;
}

.currentMovie a li {
    list-style: none;
}

.currentMovie .selected {
    background: skyblue;
}

.movieSearch {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.movieSearch input {
    margin-right: 5px;
}

.movieList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.movieList .dummy,
.movieList .dummy:hover {
    list-style: none;
    margin: 20px 20px 20px;
    background: transparent;
    box-shadow: none;
    height: 0;
    flex: 1;
}

.pagination {
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px;
}

.pagination .page-link {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.pagination .active .page-link{
    background: skyblue;
}

.pagination .page-item:not(.active) .page-link:hover {
    background: lightgray;
}