main {
    display: flex;
    flex-direction: column;
    padding: 10px 0 40px;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
}

.info .poster {
    flex: 1;

    margin-right: 50px;
    max-width: 300px;
    max-height: 500px;
}

.info > div {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.info div .title {
    flex: 3;

    font-size: 40px;
}

.info div .detail {
    flex: 3;

    font-size: 20px;
}

.info div .buttons {
    display: flex;
    flex: 1;
}


.navigation {
    width: 60%;
    margin: 20px 0 20px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation li {
    padding: 10px 40px 10px;
}

main > div {
    margin: 20px 0 20px;
    width: 80%;
}

.reviews {
    display: flex;
    flex-direction: column;
}

.pagination {
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px;
}

.pagination .page-link {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.pagination .active .page-link{
    background: skyblue;
}

.pagination .page-item:not(.active) .page-link:hover {
    background: lightgray;
}