* {
  box-sizing: border-box;
}
/* 헤더 */
.seat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
#seat-page-title {
  font-size: 50px;
}
.current {
  color: red;
}
/* 헤더의 끝 */
/* 몸통의 시작 */
.outer-container {
  background-color: gray;
  border: 3px solid black;
  padding: 10px;
}
/* 내부 컨테이너(점선) */
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px dashed black;
  border-radius: 20px;
}
/* 내부 왼쪽 컨테이너 */
.inner-left-container {
  flex:1;
  min-height: 600px;
  min-width: 300px;
  border-right: 3px solid gray;
}
/* 영화 정보 */
.movie-info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  margin: 10px;
}
.movie-info > .movie-poster {
  height: 140px;
  width: 100px;
}
/* 인원 정보 */
.people-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  margin: 10px;
}
.people-info > div {
  display: flex;
  margin: 5px;
}
.people-info > .people-type {
  min-width: 50px;
  flex:1;
}
/* 인원 카운터 */
span {cursor:pointer; }
.number{
  flex: 3;
  display: flex;
  justify-content: center;
}
.number > .minus, .plus{
  width:20px;
  height:20px;
  background:#f2f2f2;
  border-radius:4px;
  padding:8px 5px 8px 5px;
  border:1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number > input{
  height: 20px;
  width: 60px;
  text-align: center;
  font-size: 14px;
  border:1px solid #ddd;
  border-radius:4px;
  display: inline-block;
  vertical-align: middle;
}
/* 인원 카운터의 끝 */
.price-label {
  flex:2;
}
/* 할인 정보 */
.discount-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discount-info > * {
  margin: 5px 0;
}
/* 요금 정보 */
.price-info {
  margin: 10px;
}
.price-container {
  justify-content: flex-end;
  display: flex;
  font-size: 24px;
}
/* 내부 왼쪽 컨테이너의 끝 */

/* 내부 오른쪽 컨테이너 */
.inner-right-container {
  flex:3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 우측 상단(좌석표) */
.upper-right-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.seat-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seat-table > .line {
  display: flex;
}
.seat-table > .line > button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 1px solid #333;
  width: 20px;
  height: 20px;
  background: #ccc;
  margin: 5px;
}
.seat-table > .line > button:hover {
  background: rgb(181, 253, 205);
}
.seat-table > .line > .na-seat {
  background-color: black !important;
}
.seat-table > .line > .selected {
  background-color: rgb(116, 116, 255);
}
.seat-table > .line > .selected:hover {
  background-color: pink;
}
/* 우측 하단(선택한 좌석) */
.lower-right-container {
  border-top: 3px solid gray;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}
#selected-seat {
  display: flex;
  margin: 10px;
}
.seat-label {
  margin:10px;
}
/* 헤더의 끝 */

/* 푸터 */
.seat-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
/* 푸터 - 다음 버튼 */
.next-button {
	box-shadow:inset 0px 0px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
  border: 3px solid black;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:20px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.next-button:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.next-button:active {
	position:relative;
	top:1px;
}
/* 푸터의 끝 */