<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/fragment/admin_ticket.css}" rel="stylesheet">

<ticketadmin id="admin_ticket">
    <h1>예매 관리자 페이지</h1>
    <form th:action="@{/api/schedule/register}" th:method="post">
        <h3>영화 시간표 등록</h3>
        <div class="form_ticket">
            <label class="label_ticket">
                영화 선택
            </label>
            <select class="input_ticket" name="mid" size="1" required>
                <option th:each="movieDto:${movieList}" th:value="${movieDto.mid}">
                    [[${movieDto.name}]]
                </option>
            </select>
        </div>
        <div class="form_ticket">
            <label class="label_ticket">
                날짜 선택
            </label>
            <input class="input_ticket" type="date" name="date" required>

            <label class="label_ticket">
                시간 선택
            </label>
            <input class="input_ticket" type="time" name="time" min="06:00" max="23:59" required>
        </div>
        <button type="submit" class="form_ticket_btn">영화 등록</button>
    </form>

    <form th:action="@{/api/schedule/delete}" th:method="delete">
        <h3>영화 시간표 삭제</h3>
        <div class="form_ticket">
            <label class="label_ticket">
                영화 선택
            </label>
            <select class="input_ticket" name="mid" size="1" onchange="movieSelectorOnChange()" required>
                <option id="movieSelector" th:each="movieDto:${movieList}" th:value="${movieDto.mid}">
                    [[${movieDto.name}]]
                </option>
            </select>
        </div>
        <div class="form_ticket">
            <label class="label_ticket">
                시간 선택
            </label>
            <select class="input_ticket" name="time" size="1" required>
                <option value="1" selected>-</option>
                <option value="2" selected>-</option>
                <option value="3" selected>-</option>
                <option value="4" selected>-</option>
                <option value="5" selected>-</option>
            </select>
        </div>
        <button type="submit" class="form_ticket_btn">영화 삭제</button>
    </form>
</ticketadmin>
<script th:src="@{/script/fragment/admin_ticket.js}"></script>
</html>