<link rel="stylesheet" type="text/css" href="/css/fragment/footer.css" />

<footer id="footer">
    <aboutus id="footer_aboutus">
        <span class="footer_teamname">Team RookieSwan</span>
        <div>
            <p class="footer_team">이대화 DaeHwa Lee - 멘토</p>
            <p class="footer_team">김현철 HyeonCheol Kim, 이대진 DaeJin Lee<p>
            <p class="footer_team">박경원 Kyeong-Won Park, 조준호 JunHo Cho</p>
        </div>
        <div>
            <p class="footer_copyright">Copyright © 2021. RookieSwan. All rights reserved.</p>
        </div>
    </aboutus>
    <logo>
        <img id="footer_logo" src="/asset/image/logo1_light.png" />
    </logo>
</footer>