<link rel="stylesheet" type="text/css" href="/css/fragment/main_header.css" />
<script src="/script/fragment/header.js"></script>

<header id="header">
    <img id="header_logo" src="/asset/image/logo2_light.png" />
    <headernav id="header_menu">
        <userlogin id="userlogin">
            <notloggedin id="notloggedin">
                <span>
                    <a href="#">로그인</a>
                </span>
            </notloggedin>
            <loggedin id="loggedin">
                <span>
                    <a href="#">루키백조TF</a>
                    <span>님, 환영합니다.</span>
                    <a onclick="questionOnClick()">1:1 문의하기</a>
                    <input id="logout_button" type="button" value="로그아웃" />
                </span>
            </loggedin>
        </userlogin>

        <navbar id="header_navbar">
            <ul id="header_mainnav">
                <li><a href="#">영화</a></li>
                <li><a href="#">예매</a></li>
                <li><a href="#">극장</a></li>
            </ul>
            <ul id="header_subnav">
                <li>
                    <a href="#">
                        <span class="material-icons">schedule</span>
                        <span class="button_name">예매 내역</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="material-icons">person</span>
                        <span class="button_name">마이페이지</span>
                    </a>
                </li>
            </ul>
        </navbar>
    </headernav>
</header>