<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/fragment/movie.css}" rel="stylesheet" />

<div class="movie">
    <!---영화 포스터 및 제목--->
    <a class="movieLink" th:href="@{/movie/detail(mid=${dto.mid})}">
        <img class="poster" th:src="|/api/movie/display?fileName=${dto.poster}|">
        <div class="title">[[${dto.name}]]</div>
        <div class="story">[[${dto.story}]]</div>
    </a>

    <!---찜 버튼--->
    <button th:class=" 'favorite ' + ${favMap[dto.mid] ? 'clicked' : ''}">
        <input type="hidden" name="mid" th:value="${dto.mid}">
        <span class="material-icons">favorite_border</span>
        <span>3.3k</span>
    </button>

    <!---영화 정보 및 예매 버튼--->
    <div class="movieDescription">
        <div>
            <span class="director">감독 : [[${dto.director}]]</span>
            <span class="grade">
                <span class="material-icons star">star_rate</span>
                <span>[[${gradeMap[dto.mid]}]]</span>
            </span>
        </div>
        <div>
            <span class="actor">주연 : [[${dto.actor}]]</span>
            <button class="btn" th:onclick=" 'location.href = \'' + @{/booking} + '\' '">
                <span class="material-icons booking">local_activity</span>
                <span>예매</span>
            </button>
        </div>
    </div>
</div>
</html>
