<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/fragment/admin_answer.css}" />

<readquestion id="read_question" th:fragment="read_question">
    <p id="question_subject">상세 문의내역</p>
    <questionform id="question_contents">
        <p class="question_subjects">문의 내용</p>
        <formgroup class="form_group">
            <formlabel class="form_label">작성자 :</formlabel>
            <input type="text" class="form_control" name="memberId" th:value="${dto.memberId}" disabled>
        </formgroup>
        <formgroup class="form_group">
            <formlabel class="form_label">제목 :</formlabel>
            <input type="text" class="form_control" name="title" th:value="${dto.title}" disabled>
        </formgroup>
        <formgroup class="form_group">
            <formlabel class="form_label">작성 시간 :</formlabel>
            <input type="text" class="form_control" name="regDate"
                th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" disabled>
        </formgroup>
        <formgroup class="form_group">
            <formlabel class="form_label">문의 내용 :</formlabel>
            <textarea class="form_control" name="content" disabled>[[${dto.content}]]</textarea>
        </formgroup>
    </questionform>
    <form id="question_contents" th:action="@{/api/question/answer}" th:method="post">
        <p class="question_subjects">답변 내용</p>
        <formgroup>
            <input type="hidden" id="form_control_name" class="form_control" name="questionId" th:value="${dto.questionId}">
        </formgroup>
        <formgroup class="form_group_answered">
            <formlabel class="form_label">답변 내용 :</formlabel>
            <textarea id="form_textarea" class="form_control" name="content"></textarea>
        </formgroup>
        <buttoncontrol id="button_control">
            <button id="register_button" type="submit">
                <span class="material-icons">question_answer</span>
                등록하기
            </button>
        </buttoncontrol>
    </form>

    <buttoncontrol id="button_control">
        <button id="cancel_button" onclick="window.history.back()">
            <span class="material-icons">reply</span>
            뒤로 가기
        </button>
    </buttoncontrol>
</readquestion>

</html>