<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/fragment/admin_question.css}" />

<myquestion id="my_question">
    <p id="question_subject">문의 관리자 페이지</p>
    <hr class="dotted">
    <table class="tg">
        <thead th:if="${result.dtoList.size() != 0}">
            <tr>
                <th class="tg-0lax">No.</th>
                <th class="tg-baqh">제목</th>
                <th class="tg-baqh">답변 상태</th>
                <th class="tg-lqy6">등록일자</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dto : ${result.dtoList}"
                th:onclick="'javascript:trClicked(\'' + ${dto.questionId} + '\');'">
                <td class="tg-0lax" scope="row">[[${dto.questionId}]]</td>
                <td class="tg-0lax1">[[${dto.title}]]</td>
                <td id="yes" class="tg-baqh">
                    <div id="answer_complete">답변 완료</div>
                </td>
                <td id="no" class="tg-baqh">
                    <div id="answer_wait">답변 대기</div>
                </td>
                <td class="tg-lqy6">[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
        </tbody>
    </table>
    <div id="pagination">
        <li th:if="${result.prev}">
            <a th:href="@{/admin/question(page=${result.start - 1})}" tabindex="-1">Previous</a>
        </li>
        <li th:each="page: ${result.pageList}">
            <a th:href="@{/admin/question(page=${page})}">
                [[${page}]]
            </a>
        </li>
        <li th:if="${result.next}">
            <a th:href="@{/admin/question(page=${result.end + 1})}">Next</a>
        </li>
    </div>
    <div id="no_question" th:if="${result.dtoList.size() == 0}">
        <span class="material-icons">help_outline</span>
        등록한 1:1 문의가 없습니다...
    </div>
    <buttoncontrol id="button_control">
        <button id="question_button" onclick="location.reload()">
            <span class="material-icons">autorenew</span>
            새로고침
        </button>
    </buttoncontrol>
</myquestion>

<script th:src="@{/script/fragment/admin_question.js}"></script>
</html>