<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/fragment/header.css}" rel="stylesheet" />

<header id="header">
    <img id="header_logo" th:src="@{/asset/image/logo2.png}" onclick="location.href='/movie/'" />
    <headernav id="header_menu">
        <userlogin id="userlogin">
            <notloggedin id="notloggedin">
                <span>
                    <a th:href="@{/user/login}">로그인</a>
                </span>
            </notloggedin>
            <loggedin id="loggedin">
                <span>
                    <a th:href="@{/mypage}" id="user_name"></a>
                    <span>님, 환영합니다.</span>
                    <a th:href="@{/mypage/question}">1:1 문의하기</a>
                    <input id="logout_button" type="button" value="로그아웃"
                        onclick="location.href='/user/logout'" />
                </span>
            </loggedin>
        </userlogin>

        <navbar id="header_navbar">
            <ul id="header_mainnav">
                <li><a th:href="@{/movie}">영화</a></li>
                <li><a th:href="@{/booking}">예매</a></li>
                <li><a th:href="@{/}">극장</a></li>
            </ul>
            <ul id="header_subnav">
                <li>
                    <a th:href="@{/mypage/ticket}">
                        <span class="material-icons">schedule</span>
                        <span class="button_name">예매 내역</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage}">
                        <span class="material-icons">person</span>
                        <span class="button_name">마이페이지</span>
                    </a>
                </li>
            </ul>
        </navbar>
    </headernav>
</header>
</html>
