<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/fragment/review.css}" rel="stylesheet" />

<li class="review">
    <div class="member">
        <span class="material-icons">person</span>
        <span>[[${review.memberId}]]</span>
    </div>

    <div class="rating">
        <th:block th:each="num : ${#numbers.sequence(1,5)}">
            <span th:if="${num <= review.rating}" class="material-icons">star</span>
            <span th:unless="${num <= review.rating}" class="material-icons">star_outline</span>
        </th:block>
    </div>

    <div class="content">
        [[${review.content}]]
    </div>
</li>
</html>