<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영화 예매는 MovieSwan 에서!!! :: 마이페이지 :: 내 문의 내역</title>
    <link th:href="@{/css/page/my_page_read_question.css}" rel="stylesheet" />
</head>
<body>
    <th:block th:replace="~{/layout/my_page::setContents(~{this::read_question})}">
    <readquestion id="read_question" th:fragment="read_question">
        <p id="question_subject">상세 문의내역</p>
        <questionform id="question_contents">
            <p class="question_subjects">문의 내용</p>
            <formgroup class="form_group">
                <formlabel class="form_label">작성자 :</formlabel>
                <input type="text" class="form_control" name="memberId" th:value="${dto.memberId}" disabled>
                <input type="hidden" class="form_control" name="questionId" th:value="${dto.questionId}" disabled>
            </formgroup>
            <formgroup class="form_group">
                <formlabel class="form_label">제목 :</formlabel>
                <input type="text" class="form_control" name="title" th:value="${dto.title}" disabled>
            </formgroup>
            <formgroup class="form_group">
                <formlabel class="form_label">작성 시간 :</formlabel>
                <input type="text" class="form_control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" disabled>
            </formgroup>
            <formgroup class="form_group">
                <formlabel class="form_label">문의 내용 :</formlabel>
                <textarea class="form_control" name="content" disabled>[[${dto.content}]]</textarea>
            </formgroup>
        </questionform>
        <answerform id="question_contents">
            <p class="question_subjects">답변 내용</p>
            <formgroup class="form_group_wait">
                <span id="answer_icon" class="material-icons">question_answer</span>
                <span id="answer_notice">답변을 기다리는 중입니다...</span>
            </formgroup>
            <formgroup class="form_group_answered">
                <formlabel class="form_label">제목 :</formlabel>
                <input type="text" class="form_control" name="title" disabled>
            </formgroup>
            <formgroup class="form_group_answered">
                <formlabel class="form_label">작성 시간 :</formlabel>
                <input type="text" class="form_control" name="regDate" disabled>
            </formgroup>
            <formgroup class="form_group_answered">
                <formlabel class="form_label">답변 내용 :</formlabel>
                <textarea class="form_control" name="content" disabled></textarea>
            </formgroup>
        </answerform>
        <buttoncontrol id="button_control">
            <button id="cancel_button" onclick="window.history.back()">
                <span class="material-icons">reply</span>
                뒤로 가기
            </button>
        </buttoncontrol>
    </readquestion>
    </th:block>
</body>
<script th:src="@{/script/page/my_page_read_question.js}"></script>
</html>