<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>좌석 선택 페이지</title>
    <link th:href="@{/css/page/seat.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<th:block th:replace="~{/layout/common_page:: setContents(~{this:: #main-container} )}">
    <main id="main-container">
        <section class="seat-header">
            <section>
                <h1 id="seat-page-title" th:text="${'좌석 선택'}"></h1>
            </section>
            <section>
                <span>영화, 극장, 시간 선택</span>
                <span>&gt;&gt;</span>
                <span class="current">좌석 선택</span>
                <span>&gt;&gt;</span>
                <span>결제</span>
                <span>&gt;&gt;</span>
                <span>예매 완료</span>
            </section>
        </section>
        <section class="outer-container">
            <section class="inner-container">
                <section class="inner-left-container">
                    <section class="movie-info">
                        <img class="movie-poster" th:src="|/movie/display?fileName=${movieDTO.getPoster()}|" alt="영화 포스터">
                        <section class="movie-text">
                            <h3>[[${movieDTO.getTitle()}]]</h3>
                            <h2>[[${theater}]]</h2>
                            <div>[[${date}]] [[${time}]]</div>
                        </section>
                    </section>
                    <section class="people-info">
                        <h2>관람 인원</h2>
                        <div>
                            <div class="people-type">성인: </div>
                            <div class="number">
                                <span class="minus">-</span>
                                <input id="adultCount" name="adultCount" type="text" value="0" readonly/>
                                <span class="plus">+</span>
                            </div>
                            × <div id="adultPrice" class="price-label">[[${#numbers.formatInteger(16000 * (1 - discountDTO.discountRatio), 1)}]]</div>
                        </div>
                        <div>
                            <div class="people-type">청소년: </div>
                            <div class="number">
                                <span class="minus">-</span>
                                <input id="youngCount" name="youngCount" type="text" value="0" readonly/>
                                <span class="plus">+</span>
                            </div>
                            × <div id="youngPrice" class="price-label">[[${#numbers.formatInteger(12000 * (1 - discountDTO.discountRatio), 1)}]]</div>
                        </div>
                        <div>
                            <div class="people-type">우대: </div>
                            <div class="number">
                                <span class="minus">-</span>
                                <input id="elderCount" name="elderCount" type="text" value="0" readonly/>
                                <span class="plus">+</span>
                            </div>
                            × <div id="elderPrice" class="price-label">[[${#numbers.formatInteger(8000 * (1 - discountDTO.discountRatio), 1)}]]</div>
                        </div>
                    </section>
                    <section class="discount-info">
                        <h2>할인</h2>
                        <div>[[${discountDTO.discountType}]]</div>
                    </section>
                    <section class="price-info">
                        <h2>총 결제 금액</h2>
                        <div class="price-container">
                            <div> = </div>
                            <div id="total-price"> 0 </div>
                            <div> 원 </div>
                        </div>
                    </section>
                </section>
                <section class="inner-right-container">
                    <section class="upper-right-container">
                        <div> 좌 석 표 </div>
                        <section class="seat-table">
                            <div class="line" th:each="seat_row : ${seats}">
                                <button th:each="seat : ${seat_row}" th:classappend="${seat.mySeat?'selected':(!seat.available?'na-seat':'')}">
                                    <input th:id="${seat.seatCode}" type="hidden" th:value="${seat.seatCode}"/>
                                </button>
                            </div>
                            <script>
                                const timetableId = "[[${timetableDTO.getTimetableId()}]]";
                            </script>
                        </section>
                    </section>
                    <section class="lower-right-container">
                        <h2>선택한 좌석</h2>
                        <div id="selected-seat">
                            <th:block th:each="seat_row : ${seats}">
                                <div th:if="${seat.mySeat}" th:class="${seat.seatCode}" th:classappend="seat-label" th:each="seat : ${seat_row}">[[${seat.seatCode}]]</div>
                            </block>
                        </div>
                    </section>
                </section>
            </section>
        </section>
        <section class="seat-footer">
            <a href="#" class="prev-button">&lt;&lt; PREV</a>
            <a href="#" class="next-button">&gt;&gt; NEXT</a>
        </section>
    </main>
</th:block>
<script th:src="@{/script/page/seat.js}"></script>
</body>
</html>