<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>영화 예매는 MovieSwan 에서!!!</title>
</head>

<th:block th:fragment="setContents(contents)">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Common CSS -->
    <link rel="stylesheet" type="text/css" href="/css/layout/login_common_page.css" />

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <body>
        <background id="default_bg">
            <!-- Page -->
            <commonpage id="login_common_page">

                <!-- Contents -->
                <contents id="contents">
                    <th:block th:replace="${contents}"></th:block>
                </contents>
            </commonpage>

        </background>
    </body>
</th:block>

</html>