.movie {
    flex: 1;
    list-style: none;
    margin: 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.movie a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 300%;
    color: black;

}

.movie a img {
    height: 300px;
    width: 100%;
}

.movie .title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie .favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 15%;
    position: absolute;
    top: 5px;
    right: 15px;
}

.movie .movieDescription {
    width: 80%;
    display: flex;
    flex-direction: column;    
} 

.movie .movieDescription div {
    display: flex;
    font-size: 100%;
    margin-top: 5px;
    align-items: center;
}

.movie .movieDescription div * {
    flex: 2;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie .movieDescription .grade {
    display: flex;
    flex: 1;
}

.movie .movieDescription div button {
    display: flex;
    align-items: center;
    flex: 1;
}

.movie .movieDescription div button * {
    padding: 0;
}

.movie .material-icons.star {
    color: rgb(241, 241, 0);

}