<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예매 페이지</title>
    <link th:href="@{/css/page/booking.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<th:block th:replace="~{/layout/common_page:: setContents(~{this:: #main-container} )}">
    <main id="main-container">
        <section class="booking-header">
            <section>
                <h1 id="booking-page-title" th:text="${'영화 예매'}"></h1>
            </section>
            <section>
                <span class="current">영화, 극장, 시간 선택</span>
                <span>&gt;&gt;</span>
                <span>좌석 선택</span>
                <span>&gt;&gt;</span>
                <span>결제</span>
                <span>&gt;&gt;</span>
                <span>예매 완료</span>
            </section>
        </section>
        <section class="booking-container">
            <section class="booking-section">
                <h1>영화</h1>
                <ul id="movie-list">
                    <a class="list-element-link" th:each="movie : ${movieList}" th:href="@{/booking/}">
                        <li class="list-element">
                            [[${movie.name}]]
                            <div class="movie-code">[[${movie.mid}]]</div>
                        </li>
                    </a>
                </ul>
            </section>
            <section class="booking-section">
                <h1>극장</h1>
                <ul id="theater-list">
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">무비스완 판교점</li></a>
                </ul>
            </section>
            <section class="booking-section">
                <h1>날짜</h1>
                <ul id="day-list">
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy1</li></a>
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy2</li></a>
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy3</li></a>
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy4</li></a>
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy5</li></a>
                </ul>
            </section>
            <section class="booking-section">
                <h1>시간</h1>
                <ul id="time-list">
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy1</li></a>
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy2</li></a>
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy3</li></a>
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy4</li></a>
                    <a class="list-element-link" th:href="@{/booking/}"><li class="list-element">saddummy5</li></a>
                </ul>
            </section>
        </section>
        <section class="booking-footer">
            <a href="#" class="next-button">&gt;&gt; NEXT</a>
        </section>
    </main>
</th:block>
<script th:src="@{/script/page/booking.js}"></script>
</body>
</html>