<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예매 페이지</title>
    <link th:href="@{/css/page/login.css}" rel="stylesheet" />
</head>
<body>
<th:block th:replace="~{/layout/login_common_page:: setContents(~{this:: #login_page} )}">
    <loginPage id="login_page">
        <main id="main">
            <img id="header_logo" th:src="@{/asset/image/logo2.png}" />
            <div id="login_title">로그인</div>
            <form id="login_form" th:action="@{/user/login_process}" method="post">
                <div class="input_form">
                    <span id="person" class="material-icons">person</span>
                    <input id="uid" type="text" name="uid">
                </div>
                <div class="input_form">
                    <span id="lock" class="material-icons">lock</span>
                    <input id="password" type="password" name="password">
                    <span id="visibility" class="material-icons">visibility</span>
                    <span id="visibility_off" class="material-icons">visibility_off</span>
                </div>
                <div id="err" th:if="${param.err}">ID 또는 Password가 잘못 입력 되었습니다.</div>
                <div id="div_submit" class="input_form">
                    <input id="submit" type="submit" value="Movieswan 로그인">
                </div>
            </form>
            <div>
                <span>아직도 Movieswan 회원이 아니세요?</span>
                <a th:href="@{/user/register}">회원가입</a>
            </div>
            <div>
                <a th:href="@{#}">아이디 찾기</a>
                /
                <a th:href="@{#}">비밀번호 찾기</a>
            </div>
        </main>
    </loginPage>
</th:block>
<script th:src="@{/script/page/login_page.js}"></script>
</body>
</html>