<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>영화 예매는 MovieSwan 에서!!!</title>
</head>

<th:block th:fragment="setContents(contents)">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/layout/main_page.css" />

    <body>
        <mainpage id="main_page">
            <th:block th:replace="~{/fragment/main_header}"></th:block>
            <th:block th:replace="~{/fragment/carousel}"></th:block>
        </mainpage>
    </body>
</th:block>

</html>