<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie SWan - 영화 상세 정보</title>

    <!---ICON--->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<th:block th:replace="~{/layout/common_page :: setContents(~{this::contents})}">

<th:block th:fragment="contents">
    <main>
        <div class="info">
            <img th:src="@{${'/asset/image/' + dto.poster}}">
            
            <h3>[[${dto.name}]]</h3>
            <p>감독 : [[${dto.director}]] / 배우 : [[${dto.actor}]]</p>
            <p>장르 : [[${dto.genre}]] / 상영 시간 : [[${dto.runtime}]]분</p>
            <p>개봉 : [[${dto.startdate}]]</p>
            
            <button class="favorite">
                <span class="material-icons">favorite_border</span>
                <span>3.3k</span>
            </button>

            <button>
                <span class="material-icons booking">local_activity</span>
                <span>예매</span>
            </button>
        </div>

        <ul>
            <li>스토리</li>
            <li>예고편</li>
            <li>스틸컷</li>
            <li>리뷰</li>
        </ul>

        <div class="story">
            <h3>스토리</h3>
            <p>[[${dto.story}]]</p>
        </div>

        <div class="trailer">
            <h3>예고편</h3>
        </div>

        <div>
            <h3>스틸컷</h3>
        </div>

        <div>
            <h3>리뷰</h3>
        </div>
    </main>

</th:block>
</th:block>
</html>