<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>영화 예매는 MovieSwan 에서!!! :: 마이페이지 :: My Review</title>
    <link th:href="@{/css/page/my_page_myreview.css}" type="text/css" rel="stylesheet" />
</head>

<body>
<th:block th:replace="~{/layout/my_page::setContents(~{this::my_myreview})}">
    <mymyreview id="my_myreview" th:fragment="my_myreview">
        <p id="myreview_subject">My Review</p>
        <ul id="reviews">
            <th:block th:each="review : ${result.dtoList}">
                <th:block th:replace="~{/fragment/review}"></th:block>
            </th:block>
        </ul>

        <div id="pagination">
                <li th:if="${result.prev}">
                    <a th:href="@{/mypage/review(page=${result.start - 1})}" tabindex="-1">Previous</a>
                </li>

                <li th:each="page: ${result.pageList}">
                    <a th:href="@{/mypage/review(page=${page})}">
                        [[${page}]]
                    </a>
                </li>

                <li th:if="${result.next}">
                    <a th:href="@{/mypage/review(page=${result.end + 1})}">Next</a>
                </li>
            </div>
    </mymyreview>
</th:block>
</body>

</html>