<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>좌석 선택 페이지</title>
    <link th:href="@{/css/page/seat.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<th:block th:replace="~{/layout/common_page:: setContents(~{this:: #main-container} )}">
    <main id="main-container">
        <form>
            <input type="hidden" name="title" th:value="${title}">
            <input type="hidden" name="poster" th:value="${poster}">
            <input type="hidden" name="theater" th:value="${theater}">
            <input type="hidden" name="tid" th:value="${tid}">
            <input type="hidden" name="date" th:value="${date}">
            <input type="hidden" name="time" th:value="${time}">
            <input type="hidden" name="discount" th:value="${discount}">
        </form>
        <section class="seat-header">
            <section>
                <h1 id="seat-page-title" th:text="${'좌석 선택'}"></h1>
            </section>
            <section>
                <span>영화, 극장, 시간 선택</span>
                <span>&gt;&gt;</span>
                <span class="current">좌석 선택</span>
                <span>&gt;&gt;</span>
                <span>결제</span>
                <span>&gt;&gt;</span>
                <span>예매 완료</span>
            </section>
        </section>
        <section class="outer-container">
            <section class="inner-container">
                <section class="inner-left-container">
                    <section class="movie-info">
                        <img class="movie-poster" th:src="@{/asset/image/poster99.jpg}" alt="영화 포스터">
                        <section class="movie-text">
                            <h3>[[${title}]]</h3>
                            <h2>[[${theater}]]</h2>
                            <div>[[${date}]] [[${time}]]</div>
                        </section>
                    </section>
                    <section class="people-info">
                        <h2>관람 인원</h2>
                        <div>
                            <div class="people-type">성인: </div>
                            <div class="number">
                                <span class="minus">-</span>
                                <input id="adultCount" name="adultCount" type="text" value="0"/>
                                <span class="plus">+</span>
                            </div>
                            <div class="price-label">× 16000</div>
                        </div>
                        <div>
                            <div class="people-type">청소년: </div>
                            <div class="number">
                                <span class="minus">-</span>
                                <input id="childCount" name="childCount" type="text" value="0"/>
                                <span class="plus">+</span>
                            </div>
                            <div class="price-label">× 12000</div>
                        </div>
                        <div>
                            <div class="people-type">우대: </div>
                            <div class="number">
                                <span class="minus">-</span>
                                <input id="otherCount" name="otherCount" type="text" value="0"/>
                                <span class="plus">+</span>
                            </div>
                            <div class="price-label">× 8000</div>
                        </div>
                    </section>
                    <section class="discount-info">
                        <h2>할인</h2>
                        <div>[[${discount}]]</div>
                    </section>
                    <section class="price-info">
                        <h2>총 결제 금액</h2>
                        <div class="price-container">
                            <div> = </div>
                            <div id="total-price"> 0 </div>
                            <div> 원 </div>
                        </div>
                    </section>
                </section>
                <section class="inner-right-container">
                    <section class="upper-right-container">
                        <div> 좌 석 표 </div>
                        <section class="seat-table">
                            <div class="line">
                                <button><input id="A01" type="hidden" value="A01"/></button>
                                <button><input id="A02" type="hidden" value="A02"/></button>
                                <button><input id="A03" type="hidden" value="A03"/></button>
                                <button><input id="A04" type="hidden" value="A04"/></button>
                                <button><input id="A05" type="hidden" value="A05"/></button>
                                <button><input id="A06" type="hidden" value="A06"/></button>
                                <button><input id="A07" type="hidden" value="A07"/></button>
                                <button><input id="A08" type="hidden" value="A08"/></button>
                                <button><input id="A09" type="hidden" value="A09"/></button>
                                <button><input id="A10" type="hidden" value="A10"/></button>
                                <button><input id="A11" type="hidden" value="A11"/></button>
                                <button><input id="A12" type="hidden" value="A12"/></button>
                                <button><input id="A13" type="hidden" value="A13"/></button>
                                <button><input id="A14" type="hidden" value="A14"/></button>
                                <button><input id="A15" type="hidden" value="A15"/></button>
                                <button><input id="A16" type="hidden" value="A16"/></button>
                                <button><input id="A17" type="hidden" value="A17"/></button>
                                <button><input id="A18" type="hidden" value="A18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="B01" type="hidden" value="B01"/></button>
                                <button><input id="B02" type="hidden" value="B02"/></button>
                                <button><input id="B03" type="hidden" value="B03"/></button>
                                <button><input id="B04" type="hidden" value="B04"/></button>
                                <button><input id="B05" type="hidden" value="B05"/></button>
                                <button><input id="B06" type="hidden" value="B06"/></button>
                                <button><input id="B07" type="hidden" value="B07"/></button>
                                <button><input id="B08" type="hidden" value="B08"/></button>
                                <button><input id="B09" type="hidden" value="B09"/></button>
                                <button><input id="B10" type="hidden" value="B10"/></button>
                                <button><input id="B11" type="hidden" value="B11"/></button>
                                <button><input id="B12" type="hidden" value="B12"/></button>
                                <button><input id="B13" type="hidden" value="B13"/></button>
                                <button><input id="B14" type="hidden" value="B14"/></button>
                                <button><input id="B15" type="hidden" value="B15"/></button>
                                <button><input id="B16" type="hidden" value="B16"/></button>
                                <button><input id="B17" type="hidden" value="B17"/></button>
                                <button><input id="B18" type="hidden" value="B18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="C01" type="hidden" value="C01"/></button>
                                <button><input id="C02" type="hidden" value="C02"/></button>
                                <button><input id="C03" type="hidden" value="C03"/></button>
                                <button><input id="C04" type="hidden" value="C04"/></button>
                                <button><input id="C05" type="hidden" value="C05"/></button>
                                <button><input id="C06" type="hidden" value="C06"/></button>
                                <button><input id="C07" type="hidden" value="C07"/></button>
                                <button><input id="C08" type="hidden" value="C08"/></button>
                                <button><input id="C09" type="hidden" value="C09"/></button>
                                <button><input id="C10" type="hidden" value="C10"/></button>
                                <button><input id="C11" type="hidden" value="C11"/></button>
                                <button><input id="C12" type="hidden" value="C12"/></button>
                                <button><input id="C13" type="hidden" value="C13"/></button>
                                <button><input id="C14" type="hidden" value="C14"/></button>
                                <button><input id="C15" type="hidden" value="C15"/></button>
                                <button><input id="C16" type="hidden" value="C16"/></button>
                                <button><input id="C17" type="hidden" value="C17"/></button>
                                <button><input id="C18" type="hidden" value="C18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="D01" type="hidden" value="D01"/></button>
                                <button><input id="D02" type="hidden" value="D02"/></button>
                                <button><input id="D03" type="hidden" value="D03"/></button>
                                <button><input id="D04" type="hidden" value="D04"/></button>
                                <button><input id="D05" type="hidden" value="D05"/></button>
                                <button><input id="D06" type="hidden" value="D06"/></button>
                                <button><input id="D07" type="hidden" value="D07"/></button>
                                <button><input id="D08" type="hidden" value="D08"/></button>
                                <button><input id="D09" type="hidden" value="D09"/></button>
                                <button><input id="D10" type="hidden" value="D10"/></button>
                                <button><input id="D11" type="hidden" value="D11"/></button>
                                <button><input id="D12" type="hidden" value="D12"/></button>
                                <button><input id="D13" type="hidden" value="D13"/></button>
                                <button><input id="D14" type="hidden" value="D14"/></button>
                                <button><input id="D15" type="hidden" value="D15"/></button>
                                <button><input id="D16" type="hidden" value="D16"/></button>
                                <button><input id="D17" type="hidden" value="D17"/></button>
                                <button><input id="D18" type="hidden" value="D18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="E01" type="hidden" value="E01"/></button>
                                <button><input id="E02" type="hidden" value="E02"/></button>
                                <button><input id="E03" type="hidden" value="E03"/></button>
                                <button><input id="E04" type="hidden" value="E04"/></button>
                                <button><input id="E05" type="hidden" value="E05"/></button>
                                <button><input id="E06" type="hidden" value="E06"/></button>
                                <button><input id="E07" type="hidden" value="E07"/></button>
                                <button><input id="E08" type="hidden" value="E08"/></button>
                                <button><input id="E09" type="hidden" value="E09"/></button>
                                <button><input id="E10" type="hidden" value="E10"/></button>
                                <button><input id="E11" type="hidden" value="E11"/></button>
                                <button><input id="E12" type="hidden" value="E12"/></button>
                                <button><input id="E13" type="hidden" value="E13"/></button>
                                <button><input id="E14" type="hidden" value="E14"/></button>
                                <button><input id="E15" type="hidden" value="E15"/></button>
                                <button><input id="E16" type="hidden" value="E16"/></button>
                                <button><input id="E17" type="hidden" value="E17"/></button>
                                <button><input id="E18" type="hidden" value="E18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="F01" type="hidden" value="F01"/></button>
                                <button><input id="F02" type="hidden" value="F02"/></button>
                                <button><input id="F03" type="hidden" value="F03"/></button>
                                <button><input id="F04" type="hidden" value="F04"/></button>
                                <button><input id="F05" type="hidden" value="F05"/></button>
                                <button><input id="F06" type="hidden" value="F06"/></button>
                                <button><input id="F07" type="hidden" value="F07"/></button>
                                <button><input id="F08" type="hidden" value="F08"/></button>
                                <button><input id="F09" type="hidden" value="F09"/></button>
                                <button><input id="F10" type="hidden" value="F10"/></button>
                                <button><input id="F11" type="hidden" value="F11"/></button>
                                <button><input id="F12" type="hidden" value="F12"/></button>
                                <button><input id="F13" type="hidden" value="F13"/></button>
                                <button><input id="F14" type="hidden" value="F14"/></button>
                                <button><input id="F15" type="hidden" value="F15"/></button>
                                <button><input id="F16" type="hidden" value="F16"/></button>
                                <button><input id="F17" type="hidden" value="F17"/></button>
                                <button><input id="F18" type="hidden" value="F18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="G01" type="hidden" value="G01"/></button>
                                <button><input id="G02" type="hidden" value="G02"/></button>
                                <button><input id="G03" type="hidden" value="G03"/></button>
                                <button><input id="G04" type="hidden" value="G04"/></button>
                                <button><input id="G05" type="hidden" value="G05"/></button>
                                <button><input id="G06" type="hidden" value="G06"/></button>
                                <button><input id="G07" type="hidden" value="G07"/></button>
                                <button><input id="G08" type="hidden" value="G08"/></button>
                                <button><input id="G09" type="hidden" value="G09"/></button>
                                <button><input id="G10" type="hidden" value="G10"/></button>
                                <button><input id="G11" type="hidden" value="G11"/></button>
                                <button><input id="G12" type="hidden" value="G12"/></button>
                                <button><input id="G13" type="hidden" value="G13"/></button>
                                <button><input id="G14" type="hidden" value="G14"/></button>
                                <button><input id="G15" type="hidden" value="G15"/></button>
                                <button><input id="G16" type="hidden" value="G16"/></button>
                                <button><input id="G17" type="hidden" value="G17"/></button>
                                <button><input id="G18" type="hidden" value="G18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="H01" type="hidden" value="H01"/></button>
                                <button><input id="H02" type="hidden" value="H02"/></button>
                                <button><input id="H03" type="hidden" value="H03"/></button>
                                <button><input id="H04" type="hidden" value="H04"/></button>
                                <button><input id="H05" type="hidden" value="H05"/></button>
                                <button><input id="H06" type="hidden" value="H06"/></button>
                                <button><input id="H07" type="hidden" value="H07"/></button>
                                <button><input id="H08" type="hidden" value="H08"/></button>
                                <button><input id="H09" type="hidden" value="H09"/></button>
                                <button><input id="H10" type="hidden" value="H10"/></button>
                                <button><input id="H11" type="hidden" value="H11"/></button>
                                <button><input id="H12" type="hidden" value="H12"/></button>
                                <button><input id="H13" type="hidden" value="H13"/></button>
                                <button><input id="H14" type="hidden" value="H14"/></button>
                                <button><input id="H15" type="hidden" value="H15"/></button>
                                <button><input id="H16" type="hidden" value="H16"/></button>
                                <button><input id="H17" type="hidden" value="H17"/></button>
                                <button><input id="H18" type="hidden" value="H18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="I01" type="hidden" value="I01"/></button>
                                <button><input id="I02" type="hidden" value="I02"/></button>
                                <button><input id="I03" type="hidden" value="I03"/></button>
                                <button><input id="I04" type="hidden" value="I04"/></button>
                                <button><input id="I05" type="hidden" value="I05"/></button>
                                <button><input id="I06" type="hidden" value="I06"/></button>
                                <button><input id="I07" type="hidden" value="I07"/></button>
                                <button><input id="I08" type="hidden" value="I08"/></button>
                                <button><input id="I09" type="hidden" value="I09"/></button>
                                <button><input id="I10" type="hidden" value="I10"/></button>
                                <button><input id="I11" type="hidden" value="I11"/></button>
                                <button><input id="I12" type="hidden" value="I12"/></button>
                                <button><input id="I13" type="hidden" value="I13"/></button>
                                <button><input id="I14" type="hidden" value="I14"/></button>
                                <button><input id="I15" type="hidden" value="I15"/></button>
                                <button><input id="I16" type="hidden" value="I16"/></button>
                                <button><input id="I17" type="hidden" value="I17"/></button>
                                <button><input id="I18" type="hidden" value="I18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="J01" type="hidden" value="J01"/></button>
                                <button><input id="J02" type="hidden" value="J02"/></button>
                                <button><input id="J03" type="hidden" value="J03"/></button>
                                <button><input id="J04" type="hidden" value="J04"/></button>
                                <button><input id="J05" type="hidden" value="J05"/></button>
                                <button><input id="J06" type="hidden" value="J06"/></button>
                                <button><input id="J07" type="hidden" value="J07"/></button>
                                <button><input id="J08" type="hidden" value="J08"/></button>
                                <button><input id="J09" type="hidden" value="J09"/></button>
                                <button><input id="J10" type="hidden" value="J10"/></button>
                                <button><input id="J11" type="hidden" value="J11"/></button>
                                <button><input id="J12" type="hidden" value="J12"/></button>
                                <button><input id="J13" type="hidden" value="J13"/></button>
                                <button><input id="J14" type="hidden" value="J14"/></button>
                                <button><input id="J15" type="hidden" value="J15"/></button>
                                <button><input id="J16" type="hidden" value="J16"/></button>
                                <button><input id="J17" type="hidden" value="J17"/></button>
                                <button><input id="J18" type="hidden" value="J18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="K01" type="hidden" value="K01"/></button>
                                <button><input id="K02" type="hidden" value="K02"/></button>
                                <button><input id="K03" type="hidden" value="K03"/></button>
                                <button><input id="K04" type="hidden" value="K04"/></button>
                                <button><input id="K05" type="hidden" value="K05"/></button>
                                <button><input id="K06" type="hidden" value="K06"/></button>
                                <button><input id="K07" type="hidden" value="K07"/></button>
                                <button><input id="K08" type="hidden" value="K08"/></button>
                                <button><input id="K09" type="hidden" value="K09"/></button>
                                <button><input id="K10" type="hidden" value="K10"/></button>
                                <button><input id="K11" type="hidden" value="K11"/></button>
                                <button><input id="K12" type="hidden" value="K12"/></button>
                                <button><input id="K13" type="hidden" value="K13"/></button>
                                <button><input id="K14" type="hidden" value="K14"/></button>
                                <button><input id="K15" type="hidden" value="K15"/></button>
                                <button><input id="K16" type="hidden" value="K16"/></button>
                                <button><input id="K17" type="hidden" value="K17"/></button>
                                <button><input id="K18" type="hidden" value="K18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="L01" type="hidden" value="L01"/></button>
                                <button><input id="L02" type="hidden" value="L02"/></button>
                                <button><input id="L03" type="hidden" value="L03"/></button>
                                <button><input id="L04" type="hidden" value="L04"/></button>
                                <button><input id="L05" type="hidden" value="L05"/></button>
                                <button><input id="L06" type="hidden" value="L06"/></button>
                                <button><input id="L07" type="hidden" value="L07"/></button>
                                <button><input id="L08" type="hidden" value="L08"/></button>
                                <button><input id="L09" type="hidden" value="L09"/></button>
                                <button><input id="L10" type="hidden" value="L10"/></button>
                                <button><input id="L11" type="hidden" value="L11"/></button>
                                <button><input id="L12" type="hidden" value="L12"/></button>
                                <button><input id="L13" type="hidden" value="L13"/></button>
                                <button><input id="L14" type="hidden" value="L14"/></button>
                                <button><input id="L15" type="hidden" value="L15"/></button>
                                <button><input id="L16" type="hidden" value="L16"/></button>
                                <button><input id="L17" type="hidden" value="L17"/></button>
                                <button><input id="L18" type="hidden" value="L18"/></button>
                            </div>
                            <div class="line">
                                <button><input id="M01" type="hidden" value="M01"/></button>
                                <button><input id="M02" type="hidden" value="M02"/></button>
                                <button><input id="M03" type="hidden" value="M03"/></button>
                                <button><input id="M04" type="hidden" value="M04"/></button>
                                <button><input id="M05" type="hidden" value="M05"/></button>
                                <button><input id="M06" type="hidden" value="M06"/></button>
                                <button><input id="M07" type="hidden" value="M07"/></button>
                                <button><input id="M08" type="hidden" value="M08"/></button>
                                <button><input id="M09" type="hidden" value="M09"/></button>
                                <button><input id="M10" type="hidden" value="M10"/></button>
                                <button><input id="M11" type="hidden" value="M11"/></button>
                                <button><input id="M12" type="hidden" value="M12"/></button>
                                <button><input id="M13" type="hidden" value="M13"/></button>
                                <button><input id="M14" type="hidden" value="M14"/></button>
                                <button><input id="M15" type="hidden" value="M15"/></button>
                                <button><input id="M16" type="hidden" value="M16"/></button>
                                <button><input id="M17" type="hidden" value="M17"/></button>
                                <button><input id="M18" type="hidden" value="M18"/></button>
                            </div>
                            <script>
                                var seatsList = "[[${seatlist}]]".split("[")[1].split("]")[0].split(", ");
                                seatsList.forEach(seat => {
                                    let naSeat = document.querySelector("#" + seat).parentElement;
                                    naSeat.classList.add("na-seat");
                                    naSeat.disabled = true;
                                });
                            </script>
                        </section>
                    </section>
                    <section class="lower-right-container">
                        <h2>선택한 좌석</h2>
                        <div id="selected-seat"></div>
                    </section>
                </section>
            </section>
        </section>
        <section class="seat-footer">
            <a href="#" class="next-button">&gt;&gt; NEXT</a>
        </section>
    </main>
</th:block>
<script th:src="@{/script/page/seat.js}"></script>
</body>
</html>